.chat-bubble {
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 70%;
}
.chat-left {
    background-color: #f1f1f1;
    align-self: flex-start;
}
.chat-right {
    background-color: #d1e7ff;
    align-self: flex-end;
}
.message-time {
    font-size: 0.8em;
    color: gray;
}

.chat-icon {
    height: 13px;
}
